<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html lang="en" ng-app="CDE" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UW Robotics</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="assets/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.stellar.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js? sensor=false"></script> 
  <script type="text/javascript" src="assets/js/app.js"></script>
</head>
<body>
  <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
  <div id="menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="index.html" class="pure-menu-heading">
        <img id="logo" src="assets/img/logo_bw.png">
      </a>

      <ul>
	  <li><a href="index.html" class="<%= current.source=='index'?'selected':'' %>">Home</a></li>
	  <li><a href="sponsorship.html" class="<%= current.source=='sponsors'?'selected':'' %>">Sponsorship</a></li>
	  <li><a href="projects.html" class="<%= current.source=='projects'?'selected':'' %>">Projects</a></li>
	  <li><a href="contact.html" class="<%= current.source=='contact'?'selected':'' %>">Contact</a></li>
      </ul>
    </div>
  </div>

  <div id="view">
    <%- yield %>
  </div>

  <div id="footer">
  	<div id="top-circle"></div>
  	<a href="#menu"><div id="top"><p>TOP</p></div></a>
  	<div class="column">
  		<img src="assets/img/logo_bw.png"/>
  		<a><p>History</p></a>
  		<a href="projects.html#current_projects"><p>Current Projects</p></a>
  		<a href="projects.html#past_projects"><p>Past Projects</p></a>
  		<a><p>Achievements</p></a>
  	</div>
  	<div class="column" id="column_2">
  		<a href="sponsorship.html#our-sponsors"><p>Sponsors</p></a>
  		<a><p>Sumo Contest</p></a>
  		<a><p>Gallery</p></a>
  		<a><p>Articles</p></a>
  	</div>
  	<div class="column" id="contact">
  		<h3>Contact</h3>
  		<a href="contact.html">Visit our contact page</a>
  		<p>E5 1003</p>
		<p>University of Waterloo</p>
		<p>200 University Avenue W</p>
		<p>Waterloo, Ontario</p>
		<p>N2L 3G1</p>
  	</div>
  </div>
</body>
</html>
